@font-face {
    font-family: 'Nunito';
    src: url("../fonts/Nunito_Sans/NunitoSans-Regular.ttf");
}
@font-face {
    font-family: 'Nunito';
    font-weight: 100;
    src: url("../fonts/Nunito_Sans/NunitoSans-Light.ttf");
}
@font-face {
    font-family: 'Nunito';
    font-weight: bold;
    src: url("../fonts/Nunito_Sans/NunitoSans-Bold.ttf");
}
@font-face {
    font-family: 'Oswald';
    src: url("../fonts/Oswald/Oswald-Regular.ttf");
}
@font-face {
    font-family: 'Oswald';
    font-weight: bold;
    src: url("../fonts/Oswald/Oswald-Bold.ttf");
}