@import "fonts.css";
@import "vars.css";
*{
    font-family: Nunito;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 16px;
}
html,body{
    height: 100%;
    width: 100%;
}
.promo{
    position: relative;
    top: 20%;
    left: 65%;
    font-size: 2em;
}
form{
    background: var(--form);
    padding: 10px 20px;
}
.club-wrapper{
    display: flex;
    justify-content: center;
}
.club-wrapper .right-side form{
    margin-left: 50px;
    width: 100%;
}
.input-group{
    display: flex;
    flex-direction: column;
}
.input-name{
    color: var(--input-name);
    font-family: Oswald;
}
.styled-input{
    background: var(--input);
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 10px;
}
.custom-radio input, .custom-checkbox input{
    display: none;
}
.custom-radio, .custom-checkbox{
    display: flex;
    align-items: center;

}

.custom-radio-circle, .custom-checkbox-square{
    height: 16px;
    width: 16px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
}
.custom-checkbox-square{
    border-radius: 0;
}
.custom-radio input:checked + label .custom-radio-circle, .custom-checkbox input:checked + label .custom-checkbox-square{
    background-color: #806c67;
}
.custom-checkbox-square{
    font-family: 'Font Awesome 6 Free';
    content: '\f061';
    color: black;
}
.header__icons{
    color: var(--primary-color);
    display: flex;
    column-gap: 1vw;
}
nav{
    display: flex;
    column-gap: 1vw;
    align-items: center;
}
ul{
    list-style: none;
    padding-inline-start: 0;
}
.section_title{
    font-family: Oswald;
    font-weight: normal;

    text-transform: uppercase;
    color: var(--primary-color);
}
.nav_link{
    color: var(--primary-color);
    font-size: 1em;
    text-decoration: none;
    position: relative;
}
.nav_link:hover::before{
    width: 100%;
}
.nav_link::before{
    content: "";
    position: absolute;
    height: 1px;
    width: 0%;
    transition: 0.3s linear 0s;
    bottom: 0;
    background: var(--primary-color);
}
.first_screen .icons{
    position: absolute;
    right: 2%;
    bottom: 2%;
}
.promo h1{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.promo h1 span{
    font-family: 'Oswald' !important;
    font-weight: normal;
    color: var(--primary-color) !important;

    text-transform: uppercase;
}
.styled-btn{
    background-color: var(--dark-title);
    padding: 5px 10px;
    color: #fff;
    text-align: center;
    column-gap: 10px;
    text-decoration: none;
    font-family: Oswald;
    text-transform: uppercase;
    font-weight: normal;
    outline: none;
    border: none;
}
.h2{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.h2 span{
    font-size: 0.7em;
    font-family: Oswald;
}
.product_price{
    font-size: 1.2em;
    font-family: Oswald;
    margin: 10px 0;
}
.add-to-card{
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}
.main-product-image{
    margin-top: 30px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    padding: 10px;
}
.size-up{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #9f8576;
}
.footer__icons img{
    height: 32px;
}
a:hover, button:hover{
    filter: brightness(0.9);
    cursor: pointer;
}
.promo h1 span:first-child{
    font-size: 1.6em;
}
.promo a{
    font-family: Oswald;
    text-transform: uppercase;
    text-decoration: none;

}
.cookie_confirmation{
    background: #efefef;
    padding: 10px;
    opacity: 0;
    border-radius: 4px;
    animation: cookie 0.5s linear forwards 5s;
    animation-delay: 5s;
    position: fixed;
    bottom: 2%;
    z-index: 2;
    width: 60%;
    left: calc(50% - 30%);
}
@keyframes cookie {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.cookie-accept{

}
main{
    height: 100%;
    width: 100%;

}
.product-wrapper{
    display: flex;
    justify-content: center;
}
.product{
    margin: 20px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
}
section{

}
.container{
    max-width: 100%;
    width: 1200px;
    margin: 0 auto;
}
.workshop{
    display: flex;
}
.workshop .right-side{
    width: 20vw;
    display: flex;
    flex-direction: column;

}
.workshop-section .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.workshop-section{
    background-image: url("../images/section_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    color: var(--primary-color);
}

.right-content{
    margin-left: 40px;
}
.first_screen{
    position: relative;
    height: 100%;
    overflow: hidden;
    width: 100%;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
#catalog-btn{
    align-self: center;
}
.product-name{
    align-self: center;
    font-weight: bold;
    font-size: 1.2em;
}
.styled-link{
    text-decoration: none;
    font-family: Oswald;
    color: var(--primary-color);

    text-transform: uppercase;
}
.header{
    width: 100%;
    height: 10%;
    padding: 10px;
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icons img{
    height: 32px;
}
footer{
    background-image: url("../images/section_bg.png");
    background-size: cover;
    padding: 10px;
    position: relative;
    background-repeat: no-repeat;
    margin-top: 30px;
}
footer .container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer__icons{

    right: 30px;
}
.copyright{
    align-self: center;
    justify-self: center;
    color: var(--primary-color);
}
.copyright a{
    color: var(--product-color);
}
#catalog-page{
    display: flex;

}
.custom-radio label, .custom-checkbox label{
    display: flex;
    column-gap: 5px;
}
#catalog-page .product-wrapper{
    flex-wrap: wrap;
}
.range{
    display: flex;
    width: 200px;
}
.range-slider{
    -webkit-appearance: none !important;
    appearance: none !important;
    width: 100%;
    height: 5px;
    background: rgba(204, 204, 204, 0.45);
    margin-top: 8px;
    outline: none;
    opacity: 0.7;
    border-radius: 10px;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: orange;
    cursor: pointer;
}
.range-slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.filter-group{
    padding: 20px 30px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
    margin-top: 20px;
    border-radius: 3px;
}
#catalog-page .left-side{
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
}
#catalog-page .search-btn{
    margin-top: 2vh;
}
.filter-name{
    font-family: Oswald;
    margin: 10px 0;
    display: block;
}
.policy{
    width: 60%;
}
.pagination{
    display: flex;
    align-items: center;
    column-gap: 10px;

}
.breadcrumbs{
    display: flex;
    column-gap: 1vw;
}
.cart-wrapper{
    display: flex;
    flex-direction: column;
}
.cart-product:not(:last-child){
    border-bottom: 1px solid #9f8576;
}
.horizontal{
    display: flex;
}
.total-price{
    font-family: Oswald;
    font-size: 1.3em;
}
.cart-product-count{
    display: flex;
    align-items: center;
}
.cart-product-count-actions{
    margin-left: 10px;
}
.cart-product-count-actions i{
    color: #9f8576;
}
.cart-product-remove i{
    color: #9f8576;
}
.card-product-wrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.cart-wrapper .right-side{
    position: relative;
    width: 30%;
}
.cart-wrapper .left-side{
    width: 70%;
}
.order-card{
    display: flex;
    flex-direction: column;

    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
}
.breadcrumbs a{
    text-decoration: none;
    color: #806c67;
}
.main-side{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pagination-page.selected{
    background: #806c67;
}
.main-side .section_title{
    align-self: flex-start;
}
.pagination-page{
    background: #9f8576;
    padding: 10px;
    border-radius: 2px;
    text-decoration: none;
    color: #fff;
}
.product-offer{
    font-size: 0.8em;
}
.product-offer img{
    height: 80px;
}
.styled-btn{
    margin-top: 10px;
}
.inline-groups{
    display: flex;
    column-gap: 10px;
}
.product-offer .product-image{
    display: flex;
    justify-content: center;
}

.rating{
    display: flex;
    column-gap: 10px;
}
.rating-info{
    color: #ccc;
}
.product-description{
    width: 50%;
}
.garant{
    font-weight: bold;
}
.product-info{
    display: flex;
    flex-direction: column;
}
.product-price{

}
.product-container{
    display: flex;
    flex-direction: column;
}
.stars{
    color: #ccc;
}
.star{
    color: #ff9900;
}
.contact-wrapper{
    display: flex;
    column-gap: 2vw;
}
.contact-wrapper .left-side{
    width: 70%;
}

.contact{
    display: flex;
    flex-direction: column;
}